html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#smart-table th {
    color: white;
    background-color: black;
}

#smart-table td {
    border-bottom: 1px solid #cccccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table__inline-edit-form {
    background-color: orange !important;
}

.table__row-to-delete {
    background-color: red !important;
}

#smart-table th:nth-child(1),
#smart-table th:nth-child(2) {
    display: none;
}

#smart-table td:nth-child(1),
#smart-table td:nth-child(2) {
    display: none;
}

#smart-table td:nth-child(3),
#smart-table td:nth-child(4),
#smart-table td:nth-child(5),
#smart-table td:nth-child(6),
#smart-table td:nth-child(7) {
    width: 20%;
}

#smart-table td:nth-child(8) {
    width: 1px;
    white-space: nowrap;
    text-align: center;
}


#smart-table input[type=text],
#smart-table input[type=number],
#smart-table select {
    box-sizing: border-box;
    width: 100%;
}